{% extends "layout.html" %}

{% block title %} Sign In {% endblock %}

{% block script %}{% endblock %}

{% block body %}

<div class="form-wrap">
    <div class="tabs">
        <h3 class="login-tab"><a class="active" href="{{ url_for('login') }}">Login</a></h3>
        <h3 class="signup-tab"><a href="{{ url_for('signup') }}">Sign Up</a></h3>
    </div><!--.tabs-->

    <div class="tabs-content">
        <div id="login-tab-content" class="active">
            <form class="login-form" action="{{ url_for('login') }}" method="post">
                <input type="text" class="input" name="user_login" autocomplete="off" placeholder="Email or Username">
                <input type="password" class="input" name="user_pass" autocomplete="off" placeholder="Password">
                <input type="checkbox" class="checkbox" id="remember_me" name="remember_me">
                <label for="remember_me">Remember me</label>
                <input type="submit" class="button bg-dark" value="Login">
            </form><!--.login-form-->
            <div class="help-text">
                <p><a href="#">Forget your password?</a></p>
            </div><!--.help-text-->
        </div><!--.login-tab-content-->
    </div><!--.tabs-content-->
</div><!--.form-wrap-->
{% endblock %}