{% extends "layout_search.html" %}

{% block title %} Homepage {% endblock %}

{% block script %}

<script>


</script>

{% endblock %}

{% block body %}

    {% if data %}
    <div class="container">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Symbol</th>
                    <th scope="col">Company Name</th>
                    <th scope="col">Exchange</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for company in data %}
                <tr>
                    <td><a href="/stock/{{company.symbol}}">{{company.symbol}}</a></td>
                    <td>{{company.shortname}}</td>
                    <td>{{company.exchange}}</td>
                    <td>{{company.currency}}</td>
                    {% if company.watchlist %}
                    <td><form method="post"><button class="btn btn-small btn-light btn-outline-dark center" name="removewatch" value="{{company.symbol}}">Watched</button></form></td>
                    {% else %}
                    <td><form method="post"><button class="btn btn-small btn-dark btn-outline-light center" name="watch" value="{{company.symbol}}">Watchlist+</button></form></td>
                    {% endif %}
                    {% if company.portfolio %}
                    <td><form method="post" class="forrm-control"><button class="btn btn-small btn-light btn-outline-dark center" name="removeportfolio" value="{{company.symbol}}">In Portfolio</button></form></td>
                    {% else %}
                    <td><form method="post" class="forrm-control"><button class="btn btn-small btn-dark btn-outline-light center" name="portfolio" value="{{company.symbol}}">Portfolio+</button></form></td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}

{% endblock %}
