{% extends "layout.html" %}

{% block title %} Homepage {% endblock %}

{% block script %}{% endblock %}

{% block body %}

<div class="form-wrap">
    <div class="tabs">
        <h3 class="login-tab"><a href="{{ url_for('login') }}">Login</a></h3>
        <h3 class="signup-tab"><a class="active" href="{{ url_for('signup') }}">Sign Up</a></h3>
    </div><!--.tabs-->

    <div class="tabs-content">
        <div id="signup-tab-content" class="active">
            <form class="signup-form" action="{{ url_for('signup') }}" method="post">
                <input type="email" class="input" name="user_email" autocomplete="off" placeholder="Email">
                <input type="text" class="input" name="user_name" autocomplete="off" placeholder="Username">
                <input type="password" class="input" name="user_pass" autocomplete="off" placeholder="Password">
                <input type="password" class="input" name="user_pass_conf" autocomplete="off" placeholder="Password Confirmation">
                <input type="submit" class="button bg-dark" value="Sign Up">
            </form><!--.login-form-->
            <div class="help-text">
                <p>By signing up, you agree to our</p>
                <p><a href="#">Terms of service</a></p>
            </div><!--.help-text-->
        </div><!--.signup-tab-content-->      
    </div><!--.tabs-content-->
</div><!--.form-wrap-->
{% endblock %}