{% extends "layout_search.html" %}

{% block title %} Homepage {% endblock %}

{% block script %}

<script src="https://code.highcharts.com/stock/highstock.js"></script>
<script src="https://code.highcharts.com/stock/modules/data.js"></script>
<script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
<script src="https://code.highcharts.com/stock/modules/export-data.js"></script>

<script>
    Highcharts.getJSON('C:\Users\Tomd3\source\repos\Financeer\static\aapl-c.json', data => {
        const chart = Highcharts.stockChart('container', {
            chart: {
                height: 400
            },

            title: {
                text: 'Highcharts Stock Responsive Chart'
            },


            rangeSelector: {
                selected: 1
            },

            series: [{
                name: 'AAPL Stock Price',
                data: data,
                type: 'area',
                threshold: null,
                tooltip: {
                    valueDecimals: 2
                }
            }],

            responsive: {
                rules: [{
                    condition: {
                        maxWidth: 500
                    },
                    chartOptions: {
                        chart: {
                            height: 300
                        },
                        subtitle: {
                            text: null
                        },
                        navigator: {
                            enabled: false
                        }
                    }
                }]
            }
        });
    });

</script>

{% endblock %}

{% block body %}

<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">{{company.shortName}} ({{company.symbol}})</h1>
        <br />
        <p class="lead">Current Price: {{price.price[-1] | currency(company.currency)}}</p>
        {% if (price.price[-1] > price.price[-2]) %}
        <p class="lead positive">
            {% else %}
        <p class="lead negative">
            {% endif %}
            Change: {{ price.dailychange | currency(company.currency)}} ({{price.percdailychange | percentage}})
        </p>
        <p class="lead">Security Type: {{company.quoteType.capitalize()}}</p>
        <hr class="my-4">

        <p class="lead">
            {% if company.description %}
            {{ company.description }}
            {% elif company.longBusinessSummary %}
            {{ company.longBusinessSummary }}
            {% endif %}
        </p>
        <form method="post">
            {% if watched %}
            <button type="submit" class="btn btn-light btn-outline-dark btn-lg" value="{{company.symbol}}" name="removewatch">Watched</button>
            {% else %}
            <button type="submit" class="btn btn-dark btn-outline-light btn-lg" value="{{company.symbol}}" name="watch">Watchlist+</button>
            {% endif %}
        </form>
    </div>

    <div class="container">
        {% if company.country %}
        <p>Country: {{company.country}}</p>
        {% endif %}
        <p>Exchange: {{company.exchange}}</p>
        {% if company.sector %}
        <p>Sector: {{company.sector}}</p>
        {% endif %}
    </div>

    <div id="container" style="height: 400px; min-width: 310px"></div>

</div>


{% endblock %}


