{% extends "layout_search.html" %}

{% block title %} Homepage {% endblock %}

{% block script %}{% endblock %}

{% block body %}
<div class="container">
    <h1>MY WATCHLIST</h1>
    <hr /><br />

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Company</th>
                <th scope="col">Current Price</th>
                <th scope="col">Type</th>
                <th scope="col">Change</th>
            </tr>
        </thead>
        <tbody>
            {% for company in companies %}
            <tr>
                <td>{{company.name}} ({{company.symbol}})</td>
                <td>{{company.price | currency(company.currency)}}</td>
                <td></td>
                <td><form method="post"><button class="btn btn-small btn-danger center" name="removewatch" value="{{company.symbol}}">-</button></form></td>
                
            </tr>
            {% endfor %}

        </tbody>
    </table>
</div>


{% endblock %}